*{
	font-family: Ubuntu;
}

body{
	background-image: url("../images/bg-image.png");
	background-repeat: repeat;
}

/* GENERAL */
.navbar-brand{
	padding: 2px 2px !important;
}

.logo{
	height: 100%;
}

.centrado{
	margin:0 auto;
}

.columna-centrada{
	float: none;
	margin: 0 auto;
}

/* INICIO */

.cuerpo{
	background: white;
	/*background-color: rgb(169,169,169);*/
	padding: 10px 10px;
	border-radius: 5px;
	color: black;
	/*text-shadow: 3px 1px 3px rgba(119, 119, 119, 1);*/
	margin-bottom: 15px;
	font-size: 16px;
}

.ultimo-estreno tr td{
	padding: 5px;

}

.cartelera{
}

.sinopsis{
	width: 100%;
	clear: both;
	margin-top: 10px;
	text-align: justify;
}

.table{
	margin-bottom: 0 !important;
}

.ui-accordion .ui-accordion-content {
	padding:0px !important;
}

/* Pelicula */
.btn-volver{
	background: white;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	float: right;
	transition: all 0.5s;
}

.btn-volver:hover{
	background: black;
	color: white;
	transition: all 0.5s;
}

.titulo{
	margin: 0 0 5px 0;
}

.trailer{
	display: table;
    margin: auto;
}

/* Resultado */

.tabla-resultado{
	width: 80%;
	margin: 0 auto;
}

.btn-detalles{
	width: 100%;
}

.tabla-resultado tr td {
	vertical-align: middle !important;
}

.coincidencia{
	text-align: center;
	margin-top: 5%;
}
