{% extends "plantilla.django.html" %}

{% block title %}VIP CINE - Próximas películas{% endblock%}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8 columna-centrada cuerpo">
			<a href="{% url 'index' %}"><button class="btn-volver"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Inicio</button></a>
			<h3 class="titulo" style="text-align: center">Próximos estrenos</h3>
			<table class="table tabla-resultado">
					{% for peli in peliculas %}
					<tr>
						<td>
							<img src="{{ media_url }}{{ peli.cartel }}" alt="{{ peli.titulo }}" height="60px"/>
						</td>
						<td>
							{{ peli.titulo }}
						</td>
						<td>
							{{ peli.fecha_estreno }}
						</td>
						<td>
							<a href="{% url 'pelicula' peli.nombre_interno%}"><button name="button" class="btn btn-success btn-detalles">Detalles</button></a>
						</td>
					</tr>
					{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock content %}
